@import '../../main.less';

.loginBox {
  .complete;
  .photo {
    .complete;
    background-image: url('./../../assets/kara-eads-buhmhprfo3g-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .rightBox {
    .complete;
    .flex;
    background-color: aliceblue;
    .bx(-8px, 0px, 35px, 6px, rgba(0, 0, 0, 0.5));
    > div {
      width: 80%;
      .title {
        text-align: center;
        font-size: 80px;
      }
      .loginButton {
        display: block;
        margin: 0px auto;
        width: 100%;
      }
    }
  }
}