<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Fans System</title>
    <link rel="icon" href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1566820203843&di=cc0554ba5c4d318041aeab626ede99fc&imgtype=0&src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F6dab3bb6cab67b909ff26b2e35390bd50ba94c4dfe3-OQZGZ9_fw658" type="image/png" />
  </head>
  <body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
  </body>
</html>