@base-header: #0f77ff;
@base-headerText: #636B75;
@base-body: #faf6f2;
@base-footer: #fff;
@base-footers: #5ca3ff;
@base-textColor: #0F77FF;
@base-white: #f1f5fc;

.br (@x) {
  border-radius: @x;
}

.bx (@x, @x1, @x2, @x2, @color) {
  box-shadow: @x @x1 @x2 @color;
}

.lg (@color1, @color2) {
  background-image: linear-gradient(-45deg, @color1, @color1 50%, @color2 100%);
}

// width: 100%; height: 100%;
.complete() {
  width: 100%;
  height: 100%;
}

// flex layout
.flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}